.root {
    -fx-base: #181818;
    -fx-background: #282828;
    -fx-control-inner-background: rgb(50, 50, 50);
    -fx-focus-color: #585858;
}

.tab {
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base, 30%));
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base, 30%));
}

.tool-bar:horizontal {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base, +50%), derive(-fx-base, -40%), derive(-fx-base, -20%));
}

.button {
    -fx-background-color: #7CAFC2;
    /*-fx-background-color: linear-gradient(#7CAFC2, #BA8BAF);*/
    -fx-text-fill: #383838;
}

.button:hover {
    /*-fx-background-color: linear-gradient(#86C1B9, #BA8BAF);*/
    -fx-background-color: #86C1B9;
}

.tab-pane:left .tab-header-area .headers-region .tab:left {
    -fx-background-color: #383838;
    -fx-text-fill: #E8E8E8;
}

.tab-pane:left .tab-header-area .headers-region .tab:left .tab-container .tab-label {
    -fx-text-fill: #E8E8E8;
}

.tab-pane:left .tab-header-area .headers-region .tab:left:selected {
    -fx-background-color: #585858;
    -fx-text-fill: #E8E8E8;
}

.tab-pane:left .tab-header-area .tab-header-background {
    -fx-background-color: #282828;
    -fx-text-fill: #E8E8E8;
}

.table-view {
    -fx-table-cell-border-color: derive(-fx-base, +10%);
    -fx-table-header-border-color: derive(-fx-base, +20%);
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base, 20%);
    -fx-background-insets: 0, 0 1 0 1;
}

.my-gridpane {
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base, 20%), derive(-fx-base, -20%));
}

.label {
    -fx-text-fill: linear-gradient(#A1B56C, #86C1B9);
}

.radio-button {
    -fx-text-fill: #86C1B9;
}

.separator .line {
    -fx-background: #181818;
    -fx-border-width: 0.083333em; /* 1 */
}

/*.root {*/
/*-fx-background-color: #282828;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.date-picker:editable .arrow-button {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*-fx-text-fill: #383838;*/
/*}*/

/*.date-picker:editable .arrow-button:hover {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*}*/

/*.date-picker:editable .date-picker-display-node {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.combo-box .arrow-button {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*-fx-text-fill: #383838;*/
/*}*/

/*.combo-box .arrow-button:hover {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*}*/

/*.combo-box {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.tab-pane:left .tab-header-area .headers-region .tab:left {*/
/*-fx-background-color: #383838;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.tab-pane:left .tab-header-area .headers-region .tab:left .tab-container .tab-label {*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.tab-pane:left .tab-header-area .headers-region .tab:left:selected {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.tab-pane:left .tab-header-area .tab-header-background {*/
/*-fx-background-color: #282828;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.table-column .label {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.table-view:row-selection {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.table-view:row-selection .column-header-background .nested-column-header .table-column .label {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.table-view:row-selection .column-header-background .nested-column-header .table-column {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.table-view:row-selection .column-header-background .filler {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.table-view .table-column .cell:selected {*/
/*-fx-background-color: #181818;*/
/*-fx-text-fill: #e8e8e8;*/
/*}*/

/*.table-view .cell:selected {*/
/*-fx-background-color: #181818;*/
/*-fx-text-fill: #e8e8e8;*/
/*}*/

/*.table-view .cell {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.list-cell:selected {*/
/*-fx-background-color: linear-gradient(#585858, #181818);*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.list-cell {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.list-view:odd {*/
/*-fx-background-color: #383838;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.list-view {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.text-field {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.text-area {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.text-area:focused {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.text-area .content {*/
/*-fx-background-color: #585858;*/
/*-fx-text-fill: #E8E8E8;*/
/*}*/

/*.radio-button {*/
/*-fx-text-fill: #86C1B9;*/
/*}*/

/*.button {*/
/*-fx-background-color: #7CAFC2;*/
/*/!*-fx-background-color: linear-gradient(#7CAFC2, #BA8BAF);*!/*/
/*-fx-text-fill: #383838;*/
/*}*/

/*.button:hover {*/
/*/!*-fx-background-color: linear-gradient(#86C1B9, #BA8BAF);*!/*/
/*-fx-background-color: #86C1B9;*/
/*}*/

/*.separator .line {*/
/*-fx-background: #181818;*/
/*-fx-border-width: 0.083333em; /!* 1 *!/*/
/*}*/

/*.separator:vertical .line {*/
/*-fx-background-color: null;*/
/*-fx-padding: 0.0em 0.083333em 0.0em 0.0em; /!* 0 1 0 0 *!/*/
/*}*/

.dialog-pane .text-field {
    -fx-background-color: #585858;
    -fx-text-fill: #E8E8E8;
}

.dialog-pane .text-area {
    -fx-background-color: #585858;
    -fx-text-fill: #E8E8E8;
}

.dialog-pane .text-area:focused {
    -fx-background-color: #585858;
    -fx-text-fill: #E8E8E8;
}

.dialog-pane .text-area .content {
    -fx-background-color: #585858;
    -fx-text-fill: #E8E8E8;
}

.dialog-pane .label {
    -fx-text-fill: #B8B8B8;
}

